/*-------------------
BASE STYLE ELEMENTS 
--------------------*/
@import url("https://fonts.cdnfonts.com/css/din-alternate");
@import url("https://use.typekit.net/ykg8cea.css");

:root {
  --bright-orange: #ff9f00;
  --almost-white: #f2f3ef;
  --light-grey: #939191;
  --DIN20: 20px "DIN Alternate", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1 {
  color: #000;
  font: 30px "DIN Alternate", sans-serif;
}

h2 {
  font: 20px "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

h3 {
  color: #000;
  font: var(--DIN20);
  margin-bottom: 5px;
}

h4,
p {
  font-family: "Source Sans Pro", sans-serif;
}

h5,
h6 {
  font-family: "DIN Alternate", sans-serif;
  font-size: 25px;
}

.overlay {
  background-color: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.overlay.active {
  /* display: block; */
  visibility: visible;
  opacity: 0.7;
  z-index: 900;
  transition: all 0.2s ease-in-out;
}

/* BUTTONS
----------------------------- */
.cta {
  color: #000;
  background: #fff;
  font: 17px "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #000;
  padding: 5px 30px;
}

.fa-envelope {
  padding-left: 10px;
}

/* ANIMATION AND TRANSISTIONS 
----------------------------- */
.jacket-background:hover {
  transform: scale(1.1);
}

/* NAVIGATION BAR & HEADER
--------------------------*/
.search-bar {
  width: 100%;
  top: -60px;
  position: absolute;
  background-color: #fff;
  transition: top 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search-bar.active {
  top: 60px;
  transition: top 0.3s ease-in-out;
  z-index: 1000;
}

.search-close {
  display: block;
  width: 30%;
  height: 30px;
  height: 2px;
  margin: 6px auto;
  transition: all 0.3s ease-in;
}

header {
  background-color: #fff;
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.hamburger-menu,
nav a,
header a,
.nav-logo,
ion-icon {
  padding: 5px;
}

.header-icons-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  font: var(--DIN20);
  text-transform: uppercase;
  background-color: #fff;
  width: 100%;
  height: 260px;
  top: -100%;
  position: absolute;
  z-index: 998;
  transition: top 0.3s ease-in-out;
}

nav.active {
  top: 70px;
  height: 100%;
  z-index: 998;
}

nav li {
  margin-top: 20px;
}

.nav-logo,
.header-logo {
  font: 25px "DIN Condensed", sans-serif;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
}
.full-logo,
.nav-logo,
.nav-icons-right {
  display: none;
}

header ion-icon {
  font-size: 35px;
}

.cross {
  background: #000;
  display: block;
  width: 35px;
  height: 2px;
  margin: 6px auto;
  transition: all 0.3s ease-in;
}

.cross:nth-child(2) {
  width: 25px;
}

.cross:nth-child(3) {
  width: 15px;
}

.hamburger-menu.active .cross:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .cross:nth-child(1) {
  transform: translateY(8px) rotate(35deg);
}

.hamburger-menu.active .cross:nth-child(3) {
  width: 35px;
  transform: translateY(-8px) rotate(-35deg);
}

/* TOP PICTURE ON EVERY PAGE
--------------------------*/
.intro {
  background: url("images/angela-356V-ooP184-unsplash_resized.jpg") no-repeat;
}

.intro {
  padding-top: 80px;
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
  height: 500px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-button {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px 10px;
  width: 95%;
}

/* BASE LAYOUT FOR SHOP, ABOUT, CONTACT, JACKET SPECIFIC & FLEXBOX
--------------------------*/
main {
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.max-width {
  width: 90%;
  max-width: 800px;
}

/* .shop-jackets-grid,
.contactus-content,
.jacket-specific-content,
.checkout-content80 {
  min-width: 80%;
  min-height: calc(100vh - 70px);
} */

/* --------------
HOME PAGE STYLING
---------------*/

.shop-summer,
.read-our-story,
.our-collection {
  margin-bottom: 30px;
}

/* SHOP SUMMER  */
.shop-summer {
  background: url("/images/index/lucas-wesney-ZNz5UPRb2N8-unsplash-downsized-2650.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  min-height: 500px;
  padding-top: 62%;
  border-bottom: 4px solid var(--bright-orange);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.shop-summer a {
  margin-bottom: 15px;
}

.white-button-link {
  color: #fff;
  font: 20px "DIN Alternate", sans-serif;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 5px 10px;
}

/* BEST SELLING  */
h2 {
  text-transform: uppercase;
}

.best-selling {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(#fff, var(--almost-white));
}

.picture-slider-container {
  width: 90%;
  background-image: linear-gradient(#fff, var(--almost-white));
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-slider {
  background-image: linear-gradient(#fff, var(--almost-white));
  width: 100%;
  height: 430px;
  display: block;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  transition: 1s;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 80%;
}

.slider-button {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: var(--almost-white);
  border: 1px solid #000;
  cursor: pointer;
}

#button-prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#button-next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#button-prev::after,
#button-next::after {
  content: "";
  position: absolute;
  border: solid #000;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  width: 30%;
  height: 30%;
}

#button-next::after {
  top: 50%;
  right: 50%;
  transform: translate(25%, -50%) rotate(-45deg);
}

#button-prev::after {
  top: 50%;
  right: 50%;
  transform: translate(75%, -50%) rotate(135deg);
}

.circles {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #000;
  opacity: 1;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.circle.active {
  background-color: #000;
  border: 7px solid #000;
}

/* Our collection */
.our-collection {
  width: 100%;
  min-height: 100px;

  background-color: var(--almost-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-collection-content {
  background: url("/images/index/the-nix-company-4Hmj9gkyM6c-unsplash-downsized-3000.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 95%;
  height: 200px;
  padding-top: 66%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-collection a {
  background-color: rgba(175, 175, 175, 0.612);
  margin-bottom: 50%;
}

/* Read our story */
.read-our-story {
  background: url("/images/index/angela-356V-ooP184-unsplash_resized.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 350px;
  padding-top: 66%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.read-our-story-content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 150px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.read-our-story-content span {
  color: #fff;
  font: 25px "DIN Alternate", sans-serif;
  margin-bottom: 5px;
}

.read-our-story p {
  color: #fff;
  margin-bottom: 20px;
}
.read-our-story a {
  font: 16px "Source Sans Pro", sans-serif;
  color: var(--bright-orange);
  text-transform: uppercase;
  border-bottom: 1px solid var(--bright-orange);
}

/* --------------
SHOP PAGE STYLING
---------------*/
.shop {
  background-color: var(--almost-white);
  max-width: 1300px;
}

.introshop {
  background: url("images/shop/the-nix-company-4Hmj9gkyM6c-unsplash-downsized-3000.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  /* padding-top: 66%; */
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: flex-end;
}

.about-shop {
  text-align: center;
  width: 95%;
  max-width: 800px;
  height: 250px;
  background-color: rgba(255, 159, 0, 0.5);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-shop span {
  font: 18px "DIN Alternate";
  margin: 15px auto;
}

/* JACKETS GRID STYLING ----------------*/
.jacket-background {
  transition: all 0.1s ease-in-out;
}

.jacket-padding {
  padding: 10px;
}

.shop-jackets-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 40px;
  margin: 20px auto;
}

.shop-jackets-text {
  font-family: "DIN Alternate", sans-serif;
  line-height: 25px;
  margin-top: 15px;
}

.shop-jackets-grid h2 {
  color: #000;
  font-size: 23px;
  letter-spacing: 0.5px;
}

/* --------------
ABOUT US
---------------*/

.about-intro {
  font-size: 25px;
  text-align: center;
  line-height: 25px;
  margin-top: 20px;
}

.about p {
  margin-bottom: 15px;
}

.column-text {
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}

.about img {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
  /* height: auto; */
}

.column-text p:nth-child(6),
.column-text p:nth-child(10) {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  line-height: 30px;
  margin: 30px auto;
}

/* --------------
CONTACT PAGE STYLING
---------------*/
.arrow-container {
  height: 100px;
}
.arrow-icon {
  color: orange;
  font-size: 40px;
  animation: arrowUpDown 1.8s infinite;
}

@keyframes arrowUpDown {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.contact-info p {
  text-align: center;
}

.contact-info p:nth-child(3) {
  margin-bottom: 15px;
}

.form-container {
  width: 100%;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea {
  color: #000;
  font: 15px "Source Sans Pro", sans-serif;
  border: 1px solid #707070;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}

input[type="text"]:focus,
textarea:focus {
  outline: 1px solid #000;
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
  margin: 20px;
}

textarea {
  resize: none;
  height: 200px;
}

.form-error {
  font: 12px "Source Sans Pro", sans-serif;
  font-style: italic;
}

.error-content {
  height: 20px;
}

.sent-message {
  text-align: center;
}

.form-error,
.sent-message {
  display: none;
}

/* --------------
JACKET SPECEFIC
---------------*/
.heading-right,
.choose-size-big,
.section-right button {
  display: none;
}

.collapse,
.technical-info,
.jacket-section,
.slider-dots {
  margin-bottom: 30px;
}

.heading-center {
  margin-bottom: 20px;
}

.jacket-section {
  text-align: center;
  max-height: 540px;
  display: flex;
  flex-direction: column;
}

.jacket-section img {
  width: 100%;
  min-height: 200px;
  object-fit: contain;
}

.choose-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-picker {
  display: flex;
  align-items: center;
}

.colors {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 20px;
  display: block;
}

.colors:nth-child(1) {
  background: #efd09e;
}
.colors:nth-child(2) {
  background: #145052;
}
.colors:nth-child(3) {
  background: #ff9f00;
}
.colors:nth-child(4) {
  background: #000;
}
.colors:nth-child(5) {
  background: #053d7e;
}

.colors.active {
  border: 3px solid #000;
  width: 25px;
  height: 25px;
}

.collapse {
  width: 100%;
  max-width: 800px;
}

.collapse1,
.collapse2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.jacket-specific hr {
  width: 100%;
  background: #000;
  height: 2px;
  border: none;
  max-width: 800px;
  margin: 0 0 15px 0;
}

.collapse-content1,
.collapse-content2 {
  /* overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out; */
  /* display: none; */
  max-height: 0;
  display: none;
}

.collapse-content1.active,
.collapse-content2.active {
  display: block;
  max-height: fit-content;
}

.open-arrow {
  background: #000;
  display: block;
  width: 17px;
  height: 2px;
  margin: 6px auto;
}

.open-arrow:nth-child(1) {
  transform: rotate(45deg);
}

.open-arrow:nth-child(2) {
  transform: translateX(11px) translateY(-8px) rotate(-45deg);
}

.technical-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.technical-info img {
  width: 100%;
  margin-bottom: 20px;
}

.technical-info-text-container {
  width: 100%;
  height: fit-content;
}

.technical-info-text {
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 5px;
  display: block;
}

.technical-info-text:nth-child(1) .dot {
  background-color: #8d9594;
}
.technical-info-text:nth-child(2) .dot {
  background-color: #10989d;
}
.technical-info-text:nth-child(3) .dot {
  background-color: #ff9f00;
}
.technical-info-text:nth-child(4) .dot {
  background-color: #efd09e;
}
.technical-info-text:nth-child(5) .dot {
  background-color: #cb513a;
}
.technical-info-text:nth-child(6) .dot {
  background-color: #053d7e;
}

.size-addCart {
  width: 100%;
  height: 60px;
  position: fixed;
  background: #fff;
  border-top: 4px solid var(--bright-orange);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
}

.size-addCart button {
  font: "Source Sans Pro";
  text-transform: uppercase;
  background: #fff;
  border: 2px solid #000;
  margin: 5px 10px;
  padding: 10px;
}

.choose-size {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: -35%;
  transition: bottom 0.3s ease-in-out;
}

.choose-size > * {
  padding: 10px;
}

.size-button {
  transition: border 0.3s ease-in-out;
}

.size-button.active {
  border: 2px solid #ff9f00;
}

.choose-size.active {
  bottom: 10%;
}

/* SLIDER---------------------- */
.slideshow-container {
  max-width: 1000px;
  height: 420px;
  width: 100%;
  position: relative;
  margin: auto;
}

.slide1 {
  background: url("/images/jacket-page/slider/eugene-chystiakov-klxOKUgaXyU-unsplash-downsized-1200.jpg") no-repeat bottom center;
}
.slide2 {
  background: url("/images/jacket-page/slider/nathan-dumlao-ySKhDjEgzUs-unsplash-downsized-1000.jpg") no-repeat bottom center;
}
.slide3 {
  background: url("/images/jacket-page/slider/philip-myrtorp-nFWWljQN-w0-unsplash-downsized-2300.jpg") no-repeat right center;
}
.slide4 {
  background: url("/images/jacket-page/slider/zach-castillo-Lss2BdwBKho-unsplash-downsized-1600.jpg") no-repeat bottom center;
}

.slider-img {
  display: none;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.slider-dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider-dot.active,
.slider-dot:hover {
  background-color: #000;
}

/* --------------
CHECKOUT PAGE
---------------*/
.checkout {
  display: block;
}

.checkout-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.checkout-cart-item {
  display: flex;
  justify-content: space-around;
}

.checkout-cart-item p:nth-child(1) {
  font-weight: bold;
}

p.remove {
  text-decoration: underline;
}

.checkout-cart-item img {
  height: 65px;
}

#send-order-form input[type="number"] {
  color: #000;
  font: 15px "Source Sans Pro", sans-serif;
  border: 1px solid #707070;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}

.order-success {
  width: 100%;
  text-align: center;
  display: none;
}

/* --------------
SHOPPING CART
---------------*/
.shopping-cart {
  background-color: #fff;
  width: 100%;
  height: 100%;
  right: -100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;
  transition: right 0.4s ease-in-out;
}

.shopping-cart-content {
  margin-top: 20px;
}

.cart-item img {
  height: 115px;
}

.shopping-cart.active {
  right: 0;
}
.close-button {
  top: 5%;
  right: 5%;
  position: absolute;
}

.close {
  background: #000;
  display: block;
  width: 35px;
  height: 2px;
  margin: 6px auto;
}

.close:nth-child(1) {
  transform: rotate(35deg);
}

.close:nth-child(2) {
  transform: translateY(-8px) rotate(-35deg);
}

.shopping-cart-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cart-item {
  display: flex;
  justify-content: space-around;
}

.cart-item p:nth-child(1) {
  font-weight: bold;
}

hr {
  margin: auto 5%;
}

.quantity {
  border: 1px solid #000;
  width: 100px;
  text-align: center;
}

.subtotal {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.subtotal h3 {
  text-transform: uppercase;
}

.shopping-cart button,
.shopping-cart p {
  margin: 0 auto;
}

/* CUSTOMER INFORMATION */
.customer-information {
  width: 100%;
}

.customer-information-form {
  width: 95%;
}

.form-same-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-same-line > * {
  width: 49%;
}

select {
  width: 100%;
  height: 45px;
  border: 1px solid #707070;
  margin: 10px auto;
}

.customer-form label {
  margin-bottom: 5px;
}

/* ORDER COMPLETE BUTTON & POPUP */
.cta-ordercomplete {
  transition: all 0.3s ease-out;
}

.order-complete {
  background: #fff;
  height: 220px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  transition: all 500ms ease-in-out;
}

.order-complete h1,
.order-complete i {
  color: #ff9f00;
}

.order-complete a {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 50px;
}

.order-complete .fas {
  font-size: 50px;
}
/* News letter */

.newsletter {
  background-color: #fff;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter h3 {
  text-align: center;
}

.newsletter p {
  text-align: center;
}

.newsletter form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.newsletter input[type="text"] {
  border: 2px solid var(--almost-white);
  height: 40px;
}

.newsletter input[type="text"]:focus {
  outline: none;
}

.newsletter-email::placeholder {
  color: #fff;
}

.newsletter button {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--almost-white);
  border: 2px solid var(--almost-white);
  height: 40px;
  width: 100px;
}

/* FOOTER STYLING
---------------  */
footer {
  color: #000;
  background-color: var(--almost-white);
  width: 100%;
  height: 430px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

footer img {
  height: 100px;
}

footer h3 {
  text-transform: uppercase;
}

footer a {
  font: 16px "source-sans-pro", sans-serif;
  padding: 5px;
}

footer ion-icon {
  font-size: 40px;
}

.footer-text {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*----------------
 MEDIA QUIERES 
------------------ */
@media (min-width: 625px) {
  .technical-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .technical-info-text-container {
    width: 50%;
    margin-top: 50px;
  }
  .technical-info img {
    width: 50%;
    margin-right: 20px;
    margin-bottom: 0px;
  }

  .technical-info-text {
    font-size: 16px;
    margin-left: 20px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }
}

@media (min-width: 768px) {
  .header-icons-right {
    width: 15%;
  }

  .shopping-cart {
    width: 50%;
  }

  footer {
    height: 300px;
  }

  footer img {
    height: 150px;
  }

  .footer-text {
    flex-direction: row;
    height: fit-content;
  }

  .best-selling {
    height: 585px;
  }

  .picture-slider {
    height: 512px;
  }

  #button-next {
    right: 45px;
  }

  #button-prev {
    left: 45px;
  }

  .circles {
    bottom: 0%;
  }

  .our-collection-content {
    height: 450px;
  }

  .read-our-story {
    height: 500px;
  }

  .read-our-story-content {
    width: 80%;
    height: 210px;
  }

  /* .introshop-img {
    height: 450px;
  } */

  .shop-jackets-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* About us */
  .about {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  footer {
    flex-direction: row;
  }
}

.footer-text {
  width: 50%;
}

@media (max-width: 1024px) {
  .width {
    width: 95%;
  }
  /* Navigation & Header */

  /* INDEX ---*/
  /* Shop summer */

  /* Best selling */
}

@media (min-width: 1090px) {
  /*BIGGER THAN IPAD PRO */
  /* Navigation & Header */
  .full-logo {
    display: inline;
  }
  .header-logo,
  .hamburger-close {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  header {
    height: 180px;
  }

  .full-logo {
    width: 300px;
  }

  .header-icons-right {
    width: 120px;
    justify-content: space-between;
    display: none;
  }

  nav ion-icon {
    font-size: 40px;
  }

  .content {
    background-color: aqua;
    width: 100%;
    height: 2000px;
  }

  nav {
    font: var(--DIN20);
    text-transform: uppercase;
    top: 180px;
    width: 100vw;
    height: 90px;
    display: flex;
    align-items: center;
  }

  nav ul {
    margin: 0 auto;
    width: auto;
  }

  nav li {
    display: inline-block;
    margin: 0 30px;
  }

  nav.sticky {
    top: 0;
    position: sticky;
  }

  .nav-logo {
    display: inline-block;
    font-size: 40px;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }

  .nav-icons-right {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }

  .nav-logo.sticky,
  .nav-icons-right.sticky {
    opacity: 1;
  }

  .hover-middle {
    position: relative;
    color: inherit;
  }

  .hover-middle:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: #ff9f00;
    transform-origin: center;
    transition: transform 0.25s ease-in-out;
  }

  .hover-middle:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }

  /* Shop */
  .shop-jackets-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  /* Jacket specific */
  .heading-right,
  .choose-size-big,
  .section-right button {
    display: block;
  }

  .heading-center,
  .size-addCart,
  .choose-size {
    display: none;
  }

  .heading-right {
    display: contents;
    margin-bottom: 50px;
  }

  .choose-color {
    align-items: flex-start;
  }

  .jacket-specific-1090 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .jacket-section {
    width: 40%;
  }

  .section-right {
    width: 60%;
    height: auto;
    margin-left: 30px;
  }

  .choose-color,
  .choose-size-big,
  .section-right button,
  .collapse {
    margin-top: 30px;
  }

  .size-picker {
    display: flex;
    align-items: center;
  }

  .size {
    width: 60px;
    height: 35px;
    font: 16px "Source Sans Pro";
    margin-right: 15px;
    display: block;
    background: #fff;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-right button {
    font: 16px "Source Sans Pro";
    text-transform: uppercase;
    background: #fff;
    height: 50px;
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .shop-jackets-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
