/* BASE STYLE ELEMENTS 
-----------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.fas,
.fab {
  font-size: 35px;
}

/* NAVIGATION BAR STYLING
--------------------------*/
header {
  color: #000;
  background-color: #ff9f00;
  height: 80px;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font: 30px "DIN Condensed", sans-serif;
  letter-spacing: 4.7px;
  padding: 10px;
}

nav li {
  font: 20px "DIN Alternate";
  display: block;
  margin-left: 20px;
}

nav {
  display: none;
  position: fixed;
  top: 80px;
  background-color: #fff;
  z-index: 1000;
  left: 0px;
}

.fas,
nav li,
.logo {
  padding: 3px;
}

.nav-icons {
  margin-right: 20px;
}

.fa-search {
  margin-right: 10px;
}

.fa-bars {
  margin-left: 20px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* PUSHING THE COMFORT ZONE PICTURE
------------------------------------*/
.intro {
  background: url("images/angela-356V-ooP184-unsplash_resized.jpg") no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
  height: 500px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ff9f00;
  font: 60px "DIN Alternate", sans-serif;
}

.intro-button {
  color: #fff;
  font: 45px "Source Sans Pro", sans-serif;
}

.intro-text {
  text-align: center;
}

/* PICTURE SLIDE
-----------------*/
.best-selling {
  background-color: #d1cec8;
  width: auto;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.best-selling p,
.best-selling h3 {
  font-family: "Source Sans Pro", sans-serif;
}

.best-selling h2 {
  color: #fff;
  font: 25px "DIN Alternate", sans-serif;
  text-align: center;
  letter-spacing: 3px;
}

.blue-man {
  width: 300px;
  object-fit: cover;
}

.jackets {
  height: 300px;
}

.pic-slide {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.fa-angle-left,
.fa-angle-right {
  display: none;
}

/* NEWS
---------- */
.news {
  background-color: #e6e4df;
  height: 600px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.newstext {
  background-image: url("images/michael-dolejs-ksVsSchgwRc-unsplash-darkened-downsized.jpg");
  background-position-x: left;
  background-position-y: bottom;
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news h2 {
  color: #ff9f00;
  font: 95px "DIN Alternate", sans-serif;
}

.news p {
  color: #fff;
  font: 20px "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

/* BOTTOM PICTURE STYLING
------------------------ */
.bottom-picture {
  background: url("images/bottompicture.png") no-repeat; /* Needs adjustment on bigger screens*/
  height: 500px;
  width: auto;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-picture p {
  color: #ff9f00;
  font: 35px "DIN Alternate", sans-serif;
}

/* FOOTER STYLING
---------------  */
footer {
  background-color: #ff9f00;
  color: #000;
  width: 100%;
  text-align: center;
}

footer h2 {
  font: 29px "DIN Alternate", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer a {
  font: 18px "Source Sans Pro", sans-serif;
  letter-spacing: 0.8px;
  line-height: 2;
}

footer li {
  list-style: none;
}

.footer-list {
  margin-top: 30px;
}

footer img {
  height: 100px;
}

.fab {
  padding: 10px;
}

/* MEDIA QUIERES 
------------------ */
@media (min-width: 750px) {
  .intro,
  .bottom-picture {
    height: 670px;
  }

  .jackets {
    height: 400px;
  }

  .blue-man {
    width: 400px;
  }

  .bottom-picture p {
    font-size: 70px;
  }
  footer {
    display: inline-block;
  }

  .footer-info {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }

  footer a {
    line-height: 1.5;
  }

  .friends {
    text-align: center;
  }
}

@media (min-width: 875px) {
  .intro h1 {
    font-size: 70px;
  }

  .blue-jacket-container {
    text-align: left;
  }

  .blue-jacket-container p,
  .blue-jacket-container h3 {
    margin-left: 90px;
  }

  .pic-slide {
    flex-direction: row;
  }

  .fa-angle-left,
  .fa-angle-right {
    display: inline-block;
  }
}

@media (min-width: 1025px) {
  header {
    background-color: #fff;
  }

  nav {
    display: inherit;
    position: inherit;
    z-index: inherit;
  }

  nav li {
    display: inline-block;
    padding: 0px;
  }

  .fa-bars {
    display: none;
  }

  .jackets {
    height: 500px;
  }

  .blue-man {
    width: 500px;
  }

  .intro h1,
  .bottom-picture p {
    font-size: 90px;
  }

  .intro a {
    text-align: left;
  }

  .newstext {
    width: 980px;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-list {
    margin-left: 40px;
  }
}
