/*-------------------
BASE STYLE ELEMENTS 
--------------------*/
@import url("http://fonts.cdnfonts.com/css/din-alternate");
@import url("https://use.typekit.net/ykg8cea.css");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: #fff;
  font: 30px "DIN Alternate", sans-serif;
}

h2 {
  color: #ff9f00;
  font: 25px "Source Sans Pro", sans-serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

/* ICONS */
.header-icons {
  height: auto;
}

.fas,
.fab {
  font-size: 35px;
}

/* BUTTONS
----------------------------- */
.cta {
  color: #000;
  background: #fff;
  font: 17px "Source Sans Pro", sans-serif;
  font-weight: bold;
  border: 1px solid #000;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 30px 20px;
}

.cta a {
  padding: 10px 0px;
  display: inline-block;
}

.fa-envelope {
  padding-left: 10px;
}

/* ANIMATION AND TRANSISTIONS 
----------------------------- */
.hover-middle {
  display: inline-block;
  position: relative;
  color: inherit;
}

.hover-middle:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ff9f00;
  transform-origin: center;
  transition: transform 0.25s ease-in-out;
}

.hover-middle:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

/* NAVIGATION BAR STYLING
--------------------------*/
header {
  color: #000;
  background-color: #ff9f00;
  height: 80px;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.logo {
  font: 30px "DIN Condensed", sans-serif;
  letter-spacing: 4.7px;
  padding: 10px;
  text-align: center;
}

nav li {
  font: 20px "DIN Alternate";
  display: block;
  margin-left: 20px;
}

nav {
  display: none;
  position: fixed;
  top: 80px;
  background-color: #fff;
  z-index: 1000;
  left: 0px;
}

.header-icons,
nav li,
.logo {
  padding: 3px;
}

.bars-icon {
  margin-left: 10px;
}

.shopping-icon {
  margin-right: 10px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.search-icon {
  transition: all 0.3s ease-out;
}

.overlay0 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.overlay0:target {
  visibility: visible;
  opacity: 1;
}

.search-content {
  background: #fff;
  position: relative;
  transition: all 5s ease-in-out;
  padding: 50px;
}

.search-content img {
  width: 30px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 500ms ease-in-out;
}

.search-content p {
  font-size: 12px;
  border: 1px solid #ff9f00;
  border-radius: 10px;
  padding: 5px;
  margin: 5px auto;
}

.searchwords {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overlay0 p {
  visibility: hidden;
}

/* TOP PICTURE ON EVERY PAGE
--------------------------*/
.intro {
  background: url("images/angela-356V-ooP184-unsplash_resized.jpg") no-repeat;
}
.introshop-img {
  background: url("images/johannes-andersson-8XQbEDaCbDM-unsplash_Downsized.jpg") no-repeat;
}
.our-story-img {
  background: url("images/johannes-andersson-8XQbEDaCbDM-unsplash_Downsized.jpg") no-repeat;
}

.intro,
.introshop-img,
.our-story-img {
  padding-top: 80px;
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
  height: 500px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-button,
.intro-shop,
.our-story {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px 10px;
  width: 95%;
}

/* BASE LAYOUT FOR SHOP, ABOUT, CONTACT, JACKET SPECIFIC 
--------------------------*/
.shop,
.about,
.contactus,
.jacket-specific {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop-jackets-grid,
.about-text,
.contactus-content,
.jacket-specific-content {
  width: 80%;
}

/* --------------
HOME PAGE STYLING
---------------*/

/* PUSHING THE COMFORT ZONE PICTURE
------------------------------------*/
.intro h2 {
  margin-right: 10px;
}

.text-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-long-arrow-alt-right {
  color: #ff9f00;
}

/* PICTURE SLIDE
-----------------*/
.best-selling {
  background-color: #f2f3ef;
  width: auto;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.best-selling h3 {
  color: #5f6546;
  font: 20px "DIN Alternate", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  margin: auto 10px;
}

.best-selling p,
.best-selling h4 {
  font-family: "Source Sans Pro", sans-serif;
}

.blue-man {
  width: 300px;
  object-fit: cover;
}

.jackets {
  height: 300px;
}

.pic-slide {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.fa-angle-left,
.fa-angle-right {
  display: none;
}

/* NEWS
---------- */
.news {
  background-color: #e6e4df;
  height: 500px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.newstext {
  background-image: url("images/michael-dolejs-ksVsSchgwRc-unsplash-darkened-downsized.jpg");
  background-position-x: left;
  background-position-y: bottom;
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news h1 {
  color: #ff9f00;
  font-size: 40px;
}

.news p {
  color: #fff;
  font: 20px "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

/* BOTTOM PICTURE STYLING
------------------------ */
.bottom-picture {
  background: url("images/bottompicture.png") no-repeat; /* Needs adjustment on bigger screens*/
  height: 500px;
  width: auto;
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-picture h4 {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font: 25px "DIN Alternate", sans-serif;
  text-align: center;
  padding: 30px;
}

/* --------------
SHOP PAGE STYLING
---------------*/

/* JACKETS GRID STYLING ----------------*/
.jacket-background {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
}

.shop-jackets-grid a {
  display: inline-flex;
}

.jacket-padding {
  padding: 10px;
}

.jacket-background:hover {
  transform: scale(1.1);
}

.shop-jackets-grid {
  display: grid;
  place-items: center;
  justify-content: center;
  grid-gap: 40px;
  margin: 20px auto;
}

.shop-jackets-text {
  font-family: "DIN Alternate", sans-serif;
  line-height: 25px;
  margin-left: 50px;
}

.shop-jackets-grid h2 {
  font-size: 23px;
  letter-spacing: 0.5px;
}

.shop-jackets-grid p {
  color: #939191;
  font-size: 14px;
}

/* --------------
ABOUT PAGE STYLING
---------------*/
.about-intro {
  font-size: 25px;
  text-align: center;
  line-height: 25px;
}

.about p {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 15px;
}

.column-text {
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}

.about img {
  width: 100%;
  height: auto;
}

.column-text p:nth-child(6),
.column-text p:nth-child(10) {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  line-height: 30px;
  margin: 30px auto;
}

/* --------------
CONTACT PAGE STYLING
---------------*/
.contactus {
  padding-top: 120px;
}

.contact-info h1 {
  color: #000;
  text-align: center;
}

.contact-info p {
  text-align: center;
}

.contact-info p:nth-child(3) {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea {
  color: #000;
  font: 15px "Source Sans Pro", sans-serif;
  border: 1px solid #707070;
  margin: 15px auto;
  padding: 10px;
  width: 100%;
}

::placeholder {
  color: #000;
  margin: 20px;
}

textarea {
  resize: none;
  height: 200px;
}

/* --------------
JACKET SPECEFIC PAGE STYLING
---------------*/
.jacket-specific {
  padding-top: 80px;
  margin-bottom: 20px;
}

.jacket-specific-content {
  text-align: left;
}

.jacket-specific-jacket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jacket-specific-jacket h1 {
  color: #000;
  font-size: 35px;
}

.jacket-specific-jacket h2 {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}

.jacket-green {
  height: 300px;
}

.colors2 {
  width: 50%;
  margin-top: 20px;
}

.sizes-button {
  display: inline;
  visibility: hidden;
}

.sizes-button > button {
  border: 1px solid black;
  padding: 10px;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  background: #fff;
}

.jacket-specific .cta {
  display: none;
}

.jacket-specific-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picslide1 {
  width: 100%;
}

.circles {
  width: 25%;
  margin-top: 20px;
}

.technical img {
  margin-top: 20px;
  width: 300px;
}

.description-details p:nth-child(1),
.description-details p:nth-child(3) {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
}

.technical {
  font-family: "Source Sans Pro", sans-serif;
}

.size-slideup {
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.slideup-text,
.slideup-buttons {
  display: flex;
  justify-content: space-evenly;
}

/* --------------
CHECKOUT PAGE STYLING
---------------*/
.checkout-content {
  padding-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkout-content h1 {
  color: #000;
}

.checkout-content img {
  height: 115px;
  width: auto;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.cart-item p:nth-child(1) {
  font-weight: bold;
}

hr {
  margin: 20px 5%;
}

.quantity {
  border: 1px solid #000;
  width: 100px;
  text-align: center;
}

.lines {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 50%;
  border: 2px solid red;
}

.lines p {
  display: inline-block;
}

.lines p:nth-child(1) {
  font-weight: bold;
  margin-right: 30px;
}

/* ORDER COMPLETE BUTTON & POPUP */

.cta-ordercomplete {
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.order-complete {
  background: #fff;
  height: 220px;
  margin: 50% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  transition: all 5s ease-in-out;
}

.order-complete h1,
.order-complete i {
  color: #ff9f00;
}

.order-complete a {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 50px;
}

/* FOOTER STYLING
---------------  */
footer {
  background-color: #f2f3ef;
  color: #000;
  width: 100%;
  text-align: center;
}

footer h2 {
  color: #000;
  font: 29px "DIN Alternate", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer a {
  font: 18px "Source Sans Pro", sans-serif;
  letter-spacing: 0.8px;
  line-height: 2;
}

footer li {
  list-style: none;
}

.footer-list {
  margin-top: 30px;
}

footer img {
  height: 100px;
}

.fab {
  padding: 10px;
}

/*----------------
 MEDIA QUIERES 
------------------ */
@media (max-width: 1025px) {
  .hover-middle:after {
    visibility: hidden;
  }
}

@media (min-width: 750px) {
  /* BASE STYLES */
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 35px;
  }

  .bars-icon {
    margin-left: 50px;
  }

  .shopping-icon {
    margin-right: 50px;
  }

  .header-icons {
    padding: 10px;
  }

  footer {
    display: inline-block;
  }

  .footer-info {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }

  footer a {
    line-height: 1.5;
  }

  .friends {
    text-align: center;
  }

  .cta {
    margin: auto 150px;
  }

  .cta a {
    padding: 10px 0px;
    display: inline-block;
  }

  .fa-envelope {
    padding-left: 10px;
  }

  .shop-jackets-grid,
  .about-text,
  .contactus-content,
  .jacket-specific-content {
    width: 70%;
  }

  .shop-jackets-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 40px;
  }

  /* HOME PAGE STYLES */
  .intro,
  .our-story-img,
  .introshop-img,
  .bottom-picture {
    height: 670px;
  }

  .intro-text,
  .our-story {
    padding: 100px 150px;
  }

  .best-selling h3 {
    font-size: 30px;
  }

  .jackets {
    height: 500px;
  }

  .blue-man {
    width: 500px;
  }

  .bottom-picture {
    background-position-x: center;
    background-position-y: bottom;
    align-items: center;
    text-align: center;
  }

  .bottom-picture p {
    color: #ff9f00;
    font: 35px "DIN Alternate", sans-serif;
    margin-top: 0px;
  }
}

@media (min-width: 875px) {
  /* BASE STYLES */
  .fa-angle-left,
  .fa-angle-right {
    display: inline-block;
  }

  .shop-jackets-grid,
  .about-text,
  .contactus-content,
  .jacket-specific-content {
    width: 750px;
  }

  /* HOME PAGE STYLES */
  .jackets {
    height: 400px;
  }

  .blue-man {
    width: 400px;
  }

  .blue-jacket-container {
    text-align: left;
  }

  .blue-jacket-container p,
  .blue-jacket-container h4 {
    margin-left: 50px;
  }

  .pic-slide {
    flex-direction: row;
    gap: 70px;
  }

  .circles {
    display: none;
  }
}

@media (min-width: 970px) {
  .intro-button,
  .our-story,
  .intro-shop {
    width: 930px;
  }

  .shop-jackets-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 1025px) {
  /* BASE STYLES */
  header {
    background-color: #fff;
    justify-content: center;
  }

  nav {
    display: contents;
  }

  .menu {
    margin: auto 10%;
  }

  nav li {
    display: inline-block;
    padding: 0px;
  }

  .bars-icon {
    display: none;
  }

  .overlay0 {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
  }

  .overlay0 p {
    color: #ff9f00;
    text-transform: none;
  }

  .overlay0:target {
    visibility: visible;
    opacity: 1;
  }

  .search-content {
    background: transparent;
    position: relative;
    transition: all 5s ease-in-out;
    padding: 50px;
  }

  .search-content img,
  .searchwords {
    visibility: hidden;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-list {
    margin-left: 40px;
  }

  /* CTA BUTTON */
  .cta a:hover + i {
    opacity: 1;
  }

  .cta a + i {
    opacity: 0;
  }

  .size-slideup {
    visibility: hidden;
  }

  /* HOME PAGE STYLES */
  .jackets {
    height: 500px;
  }

  .blue-man {
    width: 500px;
  }

  .newstext {
    width: 980px;
  }

  .sizes-button {
    visibility: visible;
  }

  .size-slideup {
    visibility: hidden;
  }

  .jacket-specific .cta {
    display: initial;
  }
}

@media (min-width: 1310px) {
  .our-story-img,
  .introshop-img {
    width: 1310px;
    height: 670px;
    margin: auto;
  }

  .shop-jackets-grid,
  /* .about-text, */
  .jacket-specific-content {
    width: 1248px;
  }

  .shop-jackets-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
